<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Actividad 4
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Actividad 4</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  <div id="container">
    <ion-button color="primary" routerLink="/login">
      Login
      <ion-icon name="log-in-outline"></ion-icon>
    </ion-button>
    <ion-button color="secondary" routerLink="/lista-products">
      Lista
      <ion-icon name="list-outline"></ion-icon>
    </ion-button>
  </div>
  </ion-content>
</ion-content>
