<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volverAtras()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="eliminar()">
        <ion-icon name="trash-bin-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="item">Detalle {{item.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="item">
    <ion-card-header>
      <ion-card-title>{{item.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-avatar slot="start">
        <img [src]="item.image">
      </ion-avatar>
      <ion-label>{{item.description}}</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
