.form{
    margin-top: 50px;
}

.label-title{
    font-weight: 500;
    margin-bottom: 20px;
}

.div-button-login{
    text-align: center;
    margin-top: 20px;
}

.div-label-error{
    text-align: center;
    margin-top: 10px;
}

.error-message{
    color: var(--ion-color-danger);
    font-size: smaller;
    padding: 10px;
}